VITE_SUPABASE_PROJECT_ID="jwhffgsoigbgshwkkxta"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3aGZmZ3NvaWdiZ3Nod2treHRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMDUyMDAsImV4cCI6MjA5MTU4MTIwMH0.9dUXEBmw4_1TdoX3vQ8lrkNLAFAxOxp2eCnxQRw11Qs"
VITE_SUPABASE_URL="https://jwhffgsoigbgshwkkxta.supabase.co"
